*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034');
@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/patuaone/v15/ZXuke1cDvLCKLDcimxB44_luFgxbuQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color: #121213;
    color: white;
    font-weight: 700;
}

nav {
    border-bottom: solid 1px #3a3a3c;
    text-align: center;
}

.main-container {
    font-family: 'Helvetica Neue';
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-text {
    text-align: center;
    height: 300px;
}
.title {
    font-family: 'Patua One', cursive;
    font-size: 2em;
    margin: 5px;
}
.subtitle {
    opacity: 0.5;
}
.answer {
    font-family: 'Patua One', cursive;
    font-size: clamp(1.5em, 3vw, 2em);
    background-color: white;
    color: #121213;
    border-radius: 5px;
    padding: 7px;
    opacity: 0;
    font-size: 1.5em;
    margin: 10px;
    transition: 0.3s ease;
}


.tip {
    font-size: 1em;
    color: rgba(255,255,255,0.2);
    letter-spacing: 2px;
    text-align: center;
}
.letter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 330px;
    height: 396px;
    margin-top: 15px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #3a3a3c;
    font-size: 2em;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.new-game {
    font-family: 'Patua One', cursive;
    border: none;
    padding: 7px 15px;
    margin: 10px;
    background-color: rgb(120, 116, 184);
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.new-game:hover {
    background-color: rgb(83, 77, 159);
}