*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-text {
    text-align: center;
}
.title {
    font-size: 3em;
    margin-bottom: 25px;
}
.subtitle {
    opacity: 0.5;
}
.answer {
    font-size: 3em;
    height: 75px;
    margin-top: 25px;
}

.letter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 400px;
    height: 480px;
}

.letter {
    border: solid 1px white;
    text-align: center;
    font-size: 2.5em;
    line-height: 68px;
    text-transform: uppercase;
}

.new-game {
    border: none;
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: rgb(111, 106, 194);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}